body {
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 992px) {
  #nav {
    position: relative !important;
    border-bottom: 1px solid #eee !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

@media only screen and (max-width: 992px) {
  .main-head-my-content {
    height: auto;
    margin-top: 40px !important;
    padding: 0px !important;
    max-width: 600px !important;
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .main-head-my-content h1 {
    font-size: 30px !important;
  }
  .main-head-my-content p {
    font-size: 15px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px !important;
  }
  .main-head-my-content a {
    font-size: 15px !important;
  }
  .mainhead-slider1 {
    padding: 0 !important;
    margin-top: 70px;
  }
  .mainhead-slider1 .inner-owl-item {
    height: 450px !important;
    border-bottom-left-radius: 0px !important;
  }
  .mainhead-shape1 {
    display: none;
  }
  .mainhead-shape2 {
    display: none;
  }
  .mainhead-shape3 {
    display: none;
  }
  .mainhead-shape4 {
    display: none;
  }
  .mainhead-shape5 {
    display: none;
  }
  .mainhead-shape6 {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .uiux-content {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .uiux-content h2 {
    font-size: 30px !important;
  }
  .uiux-content .buttondiv {
    text-align: center;
  }
  .uiux-image {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .uiux-image img {
    margin-top: 30px !important;
  }
}

@media only screen and (max-width: 768px) {
  #uiux .uiux-content {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #uiux .my-buttonback {
    text-align: center;
    margin-top: 20px;
  }
  #uiux .uiux-image {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #uiux .uiux-image img {
    margin-top: 30px !important;
  }
}

@media only screen and (max-width: 992px) {
  .digital-image {
    margin-top: 30px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .digital-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .shape-triangle {
    display: none;
  }
  .uiux-content {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .uiux-content h2 {
    font-size: 30px !important;
  }
  .uiux-content p {
    font-size: 15px !important;
  }
  .uiux-content .buttondiv {
    text-align: center;
  }
  .uiux-image {
    text-align: center;
  }
  .uiux-image img {
    margin-top: 30px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  #digital-marketing .digital-image {
    margin-top: 30px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #digital-marketing .digital-content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #digital-marketing .uiux-content {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #digital-marketing .my-buttonback {
    text-align: center;
  }
  #digital-marketing .uiux-image {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #digital-marketing .uiux-image img {
    margin-top: 40px !important;
  }
}

@media only screen and (max-width: 768px) {
  .ouramazing-head h2 {
    font-size: 25px !important;
  }
  .ouramazing-card {
    text-align: center;
  }
  .ouramazing-card .ouramazing-icon {
    width: 70px !important;
    height: 70px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .ouramazing-card .ouramazing-icon i {
    height: 100% !important;
    font-size: 35px !important;
    line-height: 70px !important;
  }
  .ouramazing-card h3 {
    font-size: 18px !important;
  }
  .ouramazing-card p {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 992px) {
  .ouramazing-head h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  p {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 992px) {
  .about-slider-head h2 {
    font-size: 30px !important;
  }
  .about-slider-main {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: 100% !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center !important;
    margin-bottom: 15px !important;
  }
  .about-slider-main .about-slider-image {
    padding-right: 0 !important;
  }
  .about-slider-main .about-slider-image h3 {
    font-size: 16px !important;
  }
  .about-slider-main .about-slider-image span {
    font-size: 13px !important;
    margin-bottom: 5px !important;
  }
  .about-slider-main .about-slider-text {
    width: 100% !important;
  }
  .about-slider-main .about-slider-text p {
    font-size: 14px !important;
  }
  .about-slider-main .about-slider-text ul {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: 100% !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .about-slider-main .about-slider-text ul li {
    padding-left: 5px !important;
  }
  .about-slider-main .about-slider-text ul li a i {
    font-size: 12px !important;
  }
  .about-slider-main .fa-quote-left {
    z-index: -1 !important;
  }
}

@media only screen and (max-width: 768px) {
  .about-slider-head h2 {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 992px) {
  .shape1 {
    display: none;
  }
  .shape2 {
    display: none;
  }
  .shape3 {
    display: none;
  }
  .shape4 {
    display: none;
  }
  .shape5 {
    display: none;
  }
  .shape6 {
    display: none;
  }
  .shape7 {
    display: none;
  }
  .shape8 {
    display: none;
  }
  .shape9 {
    display: none;
  }
  .youtubevideo-head h2 {
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 1.3 !important;
  }
  .youtubevideo-question-about h3 {
    font-size: 20px !important;
  }
  .youtubevideo-question-about p {
    font-size: 14px !important;
  }
  .youtubevideo-question a {
    font-size: 14px !important;
  }
  .youtubevideo-footer {
    margin-top: 80px !important;
  }
}

@media only screen and (max-width: 768px) {
  .shape1 {
    display: none;
  }
  .shape2 {
    display: none;
  }
  .shape3 {
    display: none;
  }
  .shape4 {
    display: none;
  }
  .shape5 {
    display: none;
  }
  .shape6 {
    display: none;
  }
  .shape7 {
    display: none;
  }
  .shape8 {
    display: none;
  }
  .shape9 {
    display: none;
  }
  .youtubevideo-card a {
    width: 55px !important;
    height: 55px !important;
    border-radius: 50% !important;
    font-size: 24px !important;
  }
  .youtubevideo-card a::before {
    border-radius: 50% !important;
  }
  .youtubevideo-card a::after {
    border-radius: 50% !important;
  }
  .youtubevideo-footer-card i {
    font-size: 25px !important;
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
  }
  .youtubevideo-footer-card h3 span {
    margin-bottom: 2px !important;
    font-size: 24px !important;
  }
  .youtubevideo-footer-card p {
    font-size: 14px !important;
  }
  .youtubevideo-question {
    padding: 25px !important;
    text-align: center !important;
    margin-left: 0 !important;
    margin-top: 10px !important;
    margin-right: 0 !important;
  }
  .youtubevideo-question h3 {
    font-size: 18px !important;
  }
  .youtubevideo-question p {
    margin-top: 10px !important;
  }
  .youtubevideo-question a {
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
    -webkit-transform: unset !important;
            transform: unset !important;
    margin-top: 15px !important;
  }
  .youtubevideo-footer {
    margin-top: 50px !important;
  }
}

@media only screen and (max-width: 992px) {
  .chooseplancol {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  #chooseplan h1 {
    font-size: 30px !important;
  }
  #chooseplan .chooseplan-plans {
    font-size: 14px !important;
  }
  #chooseplan .chooseplan-plans h2 {
    font-size: 30px !important;
  }
  #chooseplan .chooseplan-plans h2 .andisare {
    top: -13px !important;
  }
}

@media only screen and (max-width: 768px) {
  #chooseplan h1 {
    font-size: 25px !important;
  }
  #chooseplan .chooseplan-plans {
    font-size: 13px !important;
  }
  #chooseplan .chooseplan-plans h2 {
    font-size: 27px !important;
  }
  #chooseplan .chooseplan-plans h2 .andisare {
    top: -10px !important;
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 768px) {
  .gettoknowaccordion-head {
    text-align: center;
  }
  .chooseplancol {
    width: 100% !important;
    margin-right: 0;
    margin-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  #gettoknowaccordion .container-fluid {
    max-width: 720px !important;
  }
  .gettoknowaccordion-head {
    max-width: 992px !important;
  }
  .gettoknowaccordion-head h2 {
    font-size: 30px !important;
  }
  .gettoknow-accordion {
    margin-left: 0 !important;
    max-width: 100% !important;
  }
  .gettoknow-accordion ul li a {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 768px) {
  #gettoknowaccordion .container-fluid {
    max-width: 540px !important;
  }
  .gettoknowaccordion-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 992px !important;
  }
  .gettoknowaccordion-head h2 {
    font-size: 25px !important;
  }
  .gettoknow-accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 992px !important;
  }
  .gettoknow-accordion ul li a {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 992px) {
  .chooseplancol {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  .ourlatest-content h3 {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 992px) {
  .subscribenow-shape1 {
    display: none;
  }
  .subscribenow-shape2 {
    display: none;
  }
  .subscribenow-shape3 {
    display: none;
  }
  .subscribenow-shape4 {
    display: none;
  }
  .subscribenow-shape5 {
    display: none;
  }
  .subscribenow-all {
    padding: 45px !important;
  }
  .subscribenow-all h2 {
    max-width: 505px !important;
    font-size: 30px !important;
  }
  .subscribenow-all button {
    font-size: 15px;
    padding-left: 10px !important;
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .subscribenow-all {
    padding: 35px 25px !important;
  }
  .subscribenow-all h2 {
    max-width: 100% !important;
    font-size: 25px !important;
    line-height: 1.3 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .subscribenow-all form {
    max-width: 100% !important;
    margin-top: 30px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .subscribenow-all form button {
    font-size: 13px !important;
    margin-top: 15px;
    width: 100% !important;
  }
}

@media only screen and (max-width: 992px) {
  .ourloving-head {
    margin-bottom: 45px !important;
  }
  .ourloving-head h2 {
    font-size: 30px !important;
  }
  .ourloving-image {
    margin-left: 0 !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33% !important;
            flex: 0 0 33% !important;
    max-width: 33% !important;
  }
}

@media only screen and (max-width: 768px) {
  .ourloving-head {
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 40px !important;
  }
  .ourloving-head h2 {
    font-size: 24px !important;
    line-height: 1.3 !important;
  }
  .ourloving-image {
    margin-left: 0 !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media only screen and (max-width: 992px) {
  .page-end-title {
    font-size: 14px !important;
  }
  .page-end-title p {
    font-size: 14px !important;
  }
  .page-end-title h3 {
    margin-bottom: 28px !important;
    font-size: 20px !important;
  }
  .page-end-copyright {
    margin-top: 30px !important;
  }
  .page-end-copyright p {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 992px) {
  #mainall-head {
    padding: 50px 0 !important;
  }
  #mainall-head .mainall-head-page h2 {
    font-size: 30px !important;
  }
  #mainall-head .mainall-head-page p {
    margin-top: 10px !important;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 992px) {
  #takeyourbusiness .takeyourbusinesstext {
    text-align: center !important;
  }
  #takeyourbusiness .takeyourbusinesstext span {
    font-size: 14px !important;
  }
  #takeyourbusiness .takeyourbusinesstext h2 {
    font-size: 30px !important;
  }
  #takeyourbusiness .takeyourbusinesstext p {
    font-size: 14px !important;
  }
  #takeyourbusiness .takeyourbusinesstext:last-child {
    margin-bottom: 0px !important;
  }
  #takeyourbusiness .takeyourbusinessimage {
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 992px) {
  #featuredby {
    padding-bottom: 50px !important;
  }
  #featuredby .featuredby-text {
    text-align: center;
    margin-bottom: 45px;
  }
  #featuredby .featuredby-text h3 {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 992px) {
  #supportingyour {
    padding: 80px 0 !important;
  }
  #supportingyour .supportingyourtext {
    text-align: center;
    max-width: 615px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  #supportingyour .supportingyourtext h2 {
    font-size: 30px !important;
  }
  #supportingyour .supportingyourtext .supportingyour-button {
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 768px) {
  #supportingyour {
    padding: 60px 0 !important;
  }
  #supportingyour .supportingyourtext .text-span {
    padding: 4px 20px !important;
    margin-bottom: 12px !important;
    font-size: 13px !important;
  }
  #supportingyour .supportingyourtext h2 {
    font-size: 25px !important;
  }
  #supportingyour .supportingyourtext .supportingyour-button {
    margin-top: 20px !important;
  }
}

@media only screen and (max-width: 992px) {
  #whatsourclients .whatsourclients-head h2 {
    font-size: 30px !important;
  }
  #whatsourclients .item {
    margin-top: 125px !important;
  }
  #whatsourclients .item .whatsourclients-card p {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 992px) {
  #practiceactive {
    padding: 80px 0px !important;
  }
  #practiceactive .practiceactive-head {
    max-width: 520px !important;
  }
  #practiceactive .practiceactive-head h2 {
    font-size: 30px !important;
  }
  #practiceactive .practiceactive-head p {
    font-size: 14px !important;
  }
  #practiceactive .practiceactive-head a {
    font-size: 14px !important;
  }
  #practiceactive .shape10 {
    display: none;
  }
  #practiceactive .shape11 {
    display: none;
  }
  #practiceactive .shape12 {
    display: none;
  }
  #practiceactive .shape13 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #practiceactive .practiceactive-head h2 {
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 992px) {
  #weprovide .weprovide-infocard {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 33% !important;
            flex: 0 0 33% !important;
    max-width: 33% !important;
    margin-bottom: 30px !important;
  }
}

@media only screen and (max-width: 992px) {
  #weprovide .weprovide-infocard {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
            flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media only screen and (max-width: 1400px) {
  .nav-nav a {
    margin-right: auto;
  }
  .nav-nav .button-nobg {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  #nav {
    margin: 0 !important;
  }
  #nav.active {
    position: fixed !important;
    margin: 30px 0px !important;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09) !important;
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09) !important;
    z-index: 100 !important;
    top: -30px !important;
    background-color: #fff !important;
    -webkit-animation: nav1 1s !important;
            animation: nav1 1s !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  #nav.active .my-buttons a {
    -webkit-transition: 0.5s !important;
    transition: 0.5s !important;
  }
  #nav.active .my-buttons a:hover {
    background-color: #080a3c !important;
  }
  #nav.active .my-buttons .button-nobg {
    border-color: #080a3c !important;
  }
  #nav.active .my-buttons .button-nobg a {
    color: #fff !important;
  }
  #nav.active .my-buttons .button-nobg:hover {
    background-color: #13c4a1 !important;
  }
  #nav.active .my-buttons .button-nobg i {
    color: white !important;
  }
  #nav.active .nav-logo {
    margin-top: auto !important;
  }
  @-webkit-keyframes nav1 {
    0% {
      -webkit-transform: translateY(-150px);
              transform: translateY(-150px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes nav1 {
    0% {
      -webkit-transform: translateY(-150px);
              transform: translateY(-150px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  #nav .nav-responsive {
    display: block !important;
  }
  #nav .nav-responsive .nav-responsivemenu {
    position: relative !important;
  }
  #nav .nav-responsive .nav-responsivemenu .nav-logo {
    position: relative !important;
    width: 50% !important;
    z-index: 999 !important;
    font-weight: 700 !important;
    font-size: 25px !important;
  }
  #nav .nav-responsive .nav-responsivemenu .nav-responsivebar {
    width: 35px !important;
    height: 30px !important;
    position: absolute !important;
    cursor: pointer !important;
    text-decoration: none !important;
    text-indent: -9999em !important;
    line-height: 22px !important;
    font-size: 1px !important;
    display: block !important;
    font-weight: 700 !important;
    padding-top: 9px !important;
    right: 20px !important;
    top: 0 !important;
  }
  #nav .nav-responsive .nav-responsivemenu .nav-responsivebar span {
    background: #080a3c !important;
    display: block;
    height: 4px !important;
    margin-top: 3px !important;
    border-radius: 3px !important;
  }
  #nav .nav-nav {
    display: none;
  }
  #nav .navthreedots {
    display: block !important;
  }
  #nav .navthreedots .navdot {
    padding: 0 10px !important;
    height: 30px !important;
    cursor: pointer !important;
    z-index: 9991 !important;
    position: absolute !important;
    right: 90px !important;
    top: 22px !important;
  }
  #nav .navthreedots .navdot .circles {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: 30px !important;
  }
  #nav .navthreedots .navdot .circles .circle-one {
    height: 5px !important;
    width: 5px !important;
    border-radius: 100% !important;
    margin: 0 2px !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    background-color: #080a3c !important;
  }
  #nav .navthreedots .navdot .circles .circle-two {
    height: 5px !important;
    width: 5px !important;
    border-radius: 100% !important;
    margin: 0 2px !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    background-color: #080a3c !important;
  }
  #nav .navthreedots .navdot .circles .circle-three {
    height: 5px !important;
    width: 5px !important;
    border-radius: 100% !important;
    margin: 0 2px !important;
    -webkit-transition: .5s !important;
    transition: .5s !important;
    background-color: #080a3c !important;
  }
}

@media only screen and (max-width: 992px) {
  #login .login-image img {
    display: inline-block !important;
  }
}

#login .login-image {
  height: 100%;
  width: 100%;
  background-image: url(../img/login-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#login .login-image img {
  display: none;
  max-width: 100%;
  height: auto;
}

#login .login-form {
  height: 100vh;
}

#login .login-form .login-dtable {
  width: 100%;
  height: 100%;
  display: table !important;
}

#login .login-form .login-dtable .login-cell {
  vertical-align: middle;
  display: table-cell !important;
}

#login .login-form .login-dtable .login-cell .login-loginform {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#login .login-form .login-dtable .login-cell .login-loginform .login-logo {
  margin-bottom: 35px;
}

#login .login-form .login-dtable .login-cell .login-loginform .login-logo a {
  display: inline-block;
  -webkit-transition: .5s;
  transition: .5s;
  color: #080a3c;
  text-decoration: none;
  outline: 0 !important;
}

#login .login-form .login-dtable .login-cell .login-loginform .login-logo a img {
  max-width: 100%;
  height: auto;
}

#login .login-form .login-dtable .login-cell .login-loginform h3 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 500;
}

#login .login-form .login-dtable .login-cell .login-loginform p {
  margin-top: 7px;
  margin-bottom: 0;
  color: #4a6f8a;
  line-height: 1.8;
  font-size: 15px;
}

#login .login-form .login-dtable .login-cell .login-loginform p a {
  display: inline-block;
  -webkit-transition: .5s;
  transition: .5s;
  color: #080a3c;
  text-decoration: none;
  outline: 0 !important;
}

#login .login-form .login-dtable .login-cell .login-loginform p a:hover {
  color: #13c4a1;
}

#login .login-form .login-dtable .login-cell .login-loginform form {
  margin-top: 35px;
}

#login .login-form .login-dtable .login-cell .login-loginform form .form-group {
  margin-bottom: 15px;
}

#login .login-form .login-dtable .login-cell .login-loginform form .form-group input {
  background-color: #fff;
  color: #080a3c;
  border: none;
  -webkit-box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;
          box-shadow: 0 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;
  height: 55px;
  font-size: 14px;
}

#login .login-form .login-dtable .login-cell .login-loginform form .form-group input::-webkit-input-placeholder {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  opacity: 1;
}

#login .login-form .login-dtable .login-cell .login-loginform form .form-group input:-ms-input-placeholder {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  opacity: 1;
}

#login .login-form .login-dtable .login-cell .login-loginform form .form-group input::-ms-input-placeholder {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  opacity: 1;
}

#login .login-form .login-dtable .login-cell .login-loginform form .form-group input::placeholder {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  opacity: 1;
}

#login .login-form .login-dtable .login-cell .login-loginform form .form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
}

#login .login-form .login-dtable .login-cell .login-loginform form .form-group input:focus:-ms-input-placeholder {
  opacity: 0;
}

#login .login-form .login-dtable .login-cell .login-loginform form .form-group input:focus::-ms-input-placeholder {
  opacity: 0;
}

#login .login-form .login-dtable .login-cell .login-loginform form .form-group input:focus::placeholder {
  opacity: 0;
}

#login .login-form .login-dtable .login-cell .login-loginform form .default-btn {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 5px 28.5px 1.5px rgba(255, 97, 47, 0.2);
          box-shadow: 0 5px 28.5px 1.5px rgba(255, 97, 47, 0.2);
  padding-left: 25px;
  border: none;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #fff;
  background-color: #ff612f;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 15px;
  padding-right: 25px;
  padding-top: 13px;
  padding-bottom: 13px;
}

#login .login-form .login-dtable .login-cell .login-loginform form .default-btn i {
  position: absolute;
  left: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  color: #080a3c;
}

#login .login-form .login-dtable .login-cell .login-loginform form .forgot-password {
  text-align: right;
  margin-top: 15px;
}

#login .login-form .login-dtable .login-cell .login-loginform form .forgot-password a {
  display: inline-block;
  color: #13c4a1;
  text-decoration: underline;
  -webkit-transition: .5s;
  transition: .5s;
  outline: 0 !important;
}

#login .login-form .login-dtable .login-cell .login-loginform form .forgot-password a:hover {
  color: #ff612f;
}

#login .login-form .login-dtable .login-cell .login-loginform form .login-connect-with {
  margin-top: 15px;
}

#login .login-form .login-dtable .login-cell .login-loginform form .login-connect-with button {
  display: block;
  width: 100%;
  position: relative;
  border: 1px solid #13c4a1;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 11px 30px;
  border-radius: 2px;
  font-weight: 500;
  background-color: #fff;
}

#login .login-form .login-dtable .login-cell .login-loginform form .login-connect-with button i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  font-size: 20px;
}

#login .login-form .login-dtable .login-cell .login-loginform form .login-connect-with .facebook {
  border-color: #3b5998;
  color: #3b5998;
}

#login .login-form .login-dtable .login-cell .login-loginform form .login-connect-with .facebook:hover {
  background-color: #3b5998;
  color: #fff;
  border-color: #3b5998;
}

#login .login-form .login-dtable .login-cell .login-loginform form .login-connect-with .google {
  margin-top: 10px;
  border-color: #ea4335;
  color: #ea4335;
}

#login .login-form .login-dtable .login-cell .login-loginform form .login-connect-with .google:hover {
  background-color: #ea4335;
  color: #fff;
  border-color: #ea4335;
}
/*# sourceMappingURL=login.css.map */