@import "partials/buttons";



body{
    font-family: 'Poppins', sans-serif;
    header{
        #nav{
            position: absolute;
            right: 0;
            left: 0;
            z-index: 2;
            margin: 30px 0px;
            .my-logo{
                cursor: pointer;
                img{}
            }
            .my-dropdowns{
                ul{
                    padding-top: 7px;
                    padding-left: 0;
                    list-style: none;
                    margin-bottom: 0;
                    display: flex;
                    li:nth-of-type(1){
                        &:hover .nav-dropdown{
                            visibility: visible;
                            display: flex;
                            opacity: 1;
                        }
                    }
                    li:nth-of-type(4){
                        &:hover .nav-dropdown{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    li:nth-of-type(5){
                        &:hover .nav-dropdown{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    li{
                        position: relative;
                        padding: 0;
                        a{
                            font-weight: 500;
                            color: #4a6f8a;
                            padding-left: 0;
                            padding-right: 0;
                            padding-top: 30px;
                            padding-bottom: 30px;
                            margin-left: 13px;
                            margin-right: 13px;
                            text-decoration: none;
                            transition: all 0.5s linear;

                            &:hover{
                                color: #13c4a1;
                            }
                            i{
                                font-size: 16px;
                                position: relative;
                                top: 2px;
                                margin-left: 5px;
                            }
                        }
                        .nav-dropdown{
                            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                            background: #fff;
                            position: absolute;
                            border: none;
                            top: 40px;
                            left: 0;
                            width: 250px;
                            z-index: 99;
                            display: block;
                            opacity: 0;
                            visibility: hidden;
                            transition: all .3s ease-in-out;
                            margin-top: 20px;
                            border-top: 2px solid #13c4a1;
                            padding: 0;
                            border-radius: 5px;
                            li{
                                position: relative;
                                padding: 0px 15px;
                                h3{
                                    font-size: 17px;
                                    margin-top: 20px;
                                    border-bottom: 1px dashed #e5e5e5;
                                    margin-bottom: 0;
                                    padding-bottom: 10px;
                                    position: relative;
                                }
                                a{
                                    display: block;
                                    padding: 13px 0px 11px;
                                    margin: 0;
                                    color: #4a6f8a;
                                    border-top: 1px dashed #e5e5e5;
                                    position: relative;
                                    font-size: 14px;
                                    font-weight: 500;
                                    transition: all 0.5s linear;
                                    &:hover{
                                        color: #13c4a1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .my-buttons{
                margin-top: 10px;
                a{
                    @extend %button;
                    i{
                        padding-right: 7px;
                    }

                    &:last-child{
                        background-color: transparent;
                        color: white;
                        border: 1px solid white;
                    }
                }
            }
        }
    }
    main{
        #main-head{
            position: relative;
            .main-head-my-content{
                margin-top: 270px;
                padding: 0px 120px;
                h1{
                    font-size: 57px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    line-height: 1.2;
                    color: #080a3c;
                }
                p{
                    margin-top: 18px;
                    max-width: 540px;
                    color: #4a6f8a;
                    margin-bottom: 12px;
                    line-height: 1.8;
                    font-size: 15px;
                }
                a{
                    @extend %button;
                    border: 1px solid #080a3c;
                    background-color: #080a3c;
                    margin-left: 0;
                    i{
                        margin-top: 30px;
                        color: #ff612f;
                        font-size: 20px;
                        margin-right: 5px;

                    }
                }
            }
            .owl-carousel{
                position: relative;
                .owl-stage-outer{
                    .owl-stage{
                        .owl-item{
                            // width: 633px !important;
                            // margin-right: 0 !important;
                            .inner-owl-item{
                            //    position: relative;
                            //    right: -20px;
                                height: 100vh;
                                border-bottom-left-radius: 70px; 
                            }

                            .inner-owl-item1{
                                background-image: url("../img/banner-img1.jpg");
                                background-position: center center;
                                background-size: cover;
                                background-repeat: no-repeat;   
                                
                            }
                            .inner-owl-item2{
                                background-image: url("../img/banner-img2.jpg");
                                background-position: center center;
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                            .inner-owl-item3{
                                background-image: url("../img/banner-img3.jpg");
                                background-position: center center;
                                background-size: cover;
                                background-repeat: no-repeat;
                
                            }
                        }
                    }
                }
            }
           
            .mainhead-shape1{
                position: absolute;
                right: 55%;
                bottom: 5%;
                z-index: -1;
                animation: shape1 3s linear infinite;
                img{
                    max-width: 100%;
                }
            }
            .mainhead-shape2{
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
                animation: shape2 3s linear infinite;
                img{
                    max-width: 100%;
                }
            }
            .mainhead-shape3{
                position: absolute;
                right: 35%;
                bottom: -25px;
                z-index: -1;
                animation: shape1 5s linear infinite;
                img{
                    max-width: 100%;
                }
            }
            .mainhead-shape4{
                position: absolute;
                left: 5%;
                top: 15%;
                z-index: -1;
                animation: shape3 3s linear infinite;
                img{
                    max-width: 100%;
                }
            }
            .mainhead-shape5{
                position: absolute;
                left: 25%;
                top: 40%;
                z-index: -1;
                animation: shape4 3s linear infinite;
                img{
                    max-width: 100%;
                }
            }
            .mainhead-shape6{
                position: absolute;
                left: 30%;
                top: 15%;
                z-index: -1;
                animation: shape1 4s linear infinite;

                img{
                    max-width: 100%;
                }
            }

        }
        #plans{
            background-color: #f8fbfa;
            padding: 100px 0px;
            .main-plans{
                background-color: #fff;
                box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.03);
                padding: 30px;
                border-radius: 30px;
                border-top-left-radius: 0px;
                transition: all 0.3s linear;
                &:hover{
                    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.08);
                    margin-top: -5px;
                }
                i{
                    font-size: 30px;
                    color: #13c4a1;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    margin: auto;
                    position: relative;
                    margin-bottom: 20px;
                    background: #f6f4fd;
                    border-radius: 30px;
                    border-top-left-radius: 0px;
                    text-align: center;
                }
                h3{
                    margin-bottom: 10px;
                    font-size: 22px;
                    font-weight: 500;
                }
                p{
                    color: #4a6f8a;
                    line-height: 1.8;
                    font-size: 15px;
                }
            }
        }
        #uiux{
            position: relative;
            overflow: hidden;
            padding: 100px 0px;            
            .uiux-content{
                .uiux-logo{
                    margin-bottom: 20px;
                    img{}
                }
                h2{
                    font-size: 40px;
                    font-weight: 500;
                }
                p{
                    margin-top: 18px;
                    color: #4a6f8a;
                    line-height: 1.8;
                    font-size: 15px;
                    margin-bottom: 30px;
                }
                .uiux-box{
                    color: #4a6f8a;
                    background-color: #fff;
                    border: 1px solid #f2effc;
                    box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
                    border-radius: 30px;
                    font-size: 15px;
                    padding: 12px 22px;
                    margin-bottom: 25px;
                    cursor: pointer;
                    transition: .5s;
                    &:hover{
                        background-color: #13c4a1;
                        color: #fff;
                        padding-left: 25px;
                        i{
                            color: white;
                        }
                    }
                    i{
                        color: #13c4a1;
                        margin-right: 10px;
                    }
                    span{}
                }
                .my-buttonback{
                    @extend %button;
                    background-color: #080a3c;
                    border: none;
                    i{
                        color: #ff612f;
                        margin-right: 10px;
                    }
                }
            }
            .uiux-image{
                img{
                    margin-left: 40px;
                    width: 110%;
                    height: auto;
                }
            }
        }
        #digital-marketing{
            position: relative;
            overflow: hidden;
            z-index: 1;
            .shape-triangle{
                position: absolute;
                width: 45%;
                left: 0;
                content: '';
                top: 0;
                height: 215%;
                z-index: -1;
                background-color: #13c4a1;
                -webkit-transform: skewY(66deg);
                transform: skewY(66deg);
            }
            padding: 100px 0px;
            background-color: #f4f6fc;
            .uiux-image{
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .uiux-content{
                width: 80%;
                margin-left: 30px;
                .uiux-logo{
                    margin-bottom: 20px;
                    img{}
                }
                h2{
                    font-size: 40px;
                    font-weight: 500;
                }
                p{
                    margin-top: 18px;
                    color: #4a6f8a;
                    line-height: 1.8;
                    font-size: 15px;
                    margin-bottom: 30px;
                }
            }
        }
        #ouramazing{            
            padding-top: 100px;
            padding-bottom: 70px;
            .ouramazing-head{
                text-align: center;
                max-width: 575px;
                text-transform: capitalize;
                margin-left: auto;
                margin-bottom: 60px;
                margin-right: auto;
                h2{
                    margin-bottom: 0;
                    font-size: 40px;
                    font-weight: 600;
                }
            }
            .ouramazing-card{
                position: relative;
                overflow: hidden;
                border: 1px solid #f4f5fe;
                padding: 30px;
                z-index: 1;
                margin-bottom: 30px;
                transition: .5s;
                border-radius: 5px;
                
            .our-my-card1{
                background-color: #ffd7cb; color: #ff612f;
            }
            .our-my-card2{
                background-color: #bce9e5; color: #13c4a1;
            }
            .our-my-card3{
                background-color: #b2b3c3;color: #080a3c;
            }
            .our-my-card4{
                background-color: #fed2e1; color: #fc4c86;
            }
            .our-my-card5{
                background-color: #ffecbf; color: #ffb300;
            }
            .our-my-card6{
                background-color: #bcd2fd; color: #286efa;
            }
                &:hover{
                    transform: translateY(-10px);
                    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
                    .ouramazing-backicon{
                        opacity: 0;
                    }
                    .ouramazing-icon{
                        i{
                            color: white;
                        }
                    }
                    .our-my-card1{
                        background-color: #ff612f;
                    }
                    .our-my-card2{
                        background-color: #13c4a1;                    }
                    .our-my-card3{
                        background-color: #080a3c;
                    }
                    .our-my-card4{
                        background-color: #fc4c86;
                    }
                    .our-my-card5{
                        background-color: #ffb300;
                    }
                    .our-my-card6{
                        background-color: #286efa;
                    }
                }
                .ouramazing-icon{
                    width: 85px;
                    height: 85px;
                    text-align: center;
                    font-size: 45px;
                    border-radius: 10px;
                    margin-bottom: 22px;
                    transition: .5s;
                    i{
                        transition: 0.5s;
                        line-height: 85px;
                    }
                }
                .ouramazing-backicon{
                    position: absolute;
                    right: 10px;
                    top: -52px;
                    z-index: -1;
                    opacity: .06;
                    font-size: 190px;
                    line-height: 190px;
                    transition: .5s;
                    i{}
                }
                h3{
                    font-size: 22px;
                }
                p{
                    color: #4a6f8a;
                    margin: 0;
                    line-height: 1.8;
                    font-size: 15px;
                }
            }
        }
        #chooseplan{
            padding: 100px 0px 70px 0px;
            background-color: #f4f5fe;
            h1{
                text-align: center;
                margin-left: auto;
                margin-bottom: 60px;
                margin-right: auto;
                font-size: 40px;
                font-weight: 600;
                color: #080a3c;
            }
            .chooseplan-buttons{
                margin-bottom: 40px;
                text-align: center;
                padding-left: 0;
                a{
                    padding: 10px 30px 10px 30px;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 500;
                    i{
                        color: #ff612f;
                        margin-right: 2px;
                        font-size: 15px;
                        padding-right: 5px;
                    }
                }
            }
            .chooseplan-plans{
                text-align: center;
                margin-bottom: 30px;
                background-color: #fff;
                padding-bottom: 30px;
                border-radius: 5px;
                color: #080a3c;
                .chooseplan-plans-head{
                    padding-top: 25px;
                    padding-bottom: 20px;
                    h3{
                        margin-bottom: 0;
                        font-size: 22px;
                    }
                }
                .chooseplan-plans-main{
                    transition: .5s;
                    padding-top: 8px;
                    padding-bottom: 5px;
                    border-top: 2px dashed #f4f5fe;
                    border-bottom: 2px dashed #f4f5fe;
                    h2{
                        font-weight: 600;
                        font-size: 40px;
                        span{}
                    }
                }
                .chooseplan-plans-footer{
                    ul{
                        padding-left: 0;
                        text-align: left;
                        list-style-type: none;
                        margin-top: 30px;
                        margin-bottom: 0;
                        margin-left: 50px;
                        margin-right: 50px;
                        li{
                            margin-bottom: 10px;
                            position: relative;
                            color: #444683;
                            padding-left: 0;
                            padding-right: 21px;
                            p{
                                i{
                                    position: absolute;
                                    right: 0;
                                    color: #13c4a1;
                                    top: 7px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    a{
                        @extend %button;
                        margin: 220px 0px;
                        border: none;
                        i{
                            font-size: 20px;
                            padding-right: 6px;
                            margin: 25px 0px;
                        }
                    }
                }
            }
        }
        #meetourexperts{
            padding: 100px 0px 70px 0px;
            .meetourexperts-head{
                text-align: center;
                max-width: 575px;
                margin-left: auto;
                margin-bottom: 60px;
                margin-right: auto;
                h2{
                    margin-bottom: 0;
                    font-size: 40px;
                    font-weight: 600;
                    color: #080a3c;
                }
            }
            .meetourexperts-card{
                margin-bottom: 30px;
                text-align: center;
                .meetourexperts-image{
                    border: 4px solid;
                    padding: 10px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 10px;
                    transition: .5s;
                    img{
                        max-width: 100%;
                        height: auto;                    
                    }
                    ul{
                        display: none;
                        li{
                            a{}
                        }
                    }
                }
                .meetourexperts-content{
                    margin-top: 20px;
                    h3{
                        margin-bottom: 0;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    span{                        
                        font-size: 14px;
                        margin-top: 6px;
                    }
                }
            }
        }
        #gettoknowaccordion{
            background-color: #f4f5fe;
            padding: 100px 0 100px 0;
            .gettoknowaccordion-head{                
                margin-left: auto;
                max-width: 745px;
                h2{
                    margin-bottom: 40px;
                    font-size: 40px;
                    font-weight: 600;
                    span{
                        color: #ff612f;
                    }
                }
            }
            .gettoknow-accordion{
                margin-left: auto;
                max-width: 745px;
                ul{
                    list-style-type: none;
                    padding-left: 0;
                    margin-bottom: 0;
                    li{
                        margin-bottom: 10px;
                        background: #fff;
                        a{
                            padding: 12px 40px 10px 20px;
                            text-decoration: none;
                            color: #080a3c;
                            position: relative;
                            display: block;
                            font-size: 16px;
                            font-weight: 500;
                            i{
                                position: absolute;
                                right: 20px;
                                top: 50%;
                                transform: translateY(-50%);
                                color: #080a3c;
                                font-size: 20px;
                                transition: .5s;
                            }
                        }
                        p{
                            display: none;
                            padding: 15px 20px;
                            font-size: 14px;
                            border-top: 1px solid #ff612f;
                            color: #4a6f8a;
                        }
                    }
                }
            }
            .gettoknow-image{
                img{
                    max-width: 100%;
                }
            }
        }
        #ourlatest{
            padding-top: 100px;
            padding-bottom: 100px;
            .ourlatest-head{
                text-align: center;
                max-width: 575px;
                text-transform: capitalize;
                margin-left: auto;
                margin-bottom: 60px;
                margin-right: auto;
                color: #080a3c;
                h1{
                    font-size: 40px;
                    font-weight: 600;
                }
            }
            .ourlatest-card{
                border-radius: 2px;
                margin-bottom: 30px;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
                background-color: #fff;
                transition: .5s;
                .ourlatest-image{
                    position: relative;
                    a{
                        img{
                            max-width: 100%;
                            height: auto;
                            transition: .5s;
                        }
                    }
                    .ourlatest-date{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: #fff;
                        border-radius: 0 5px 0 0;
                        padding: 10px 25px 0;
                        z-index: 1;
                        color: #080a3c;
                        font-size: 15px;
                        font-weight: 300;
                        i{
                            color: #ff612f;
                            margin-right: 5px;
                            font-size: 16px;
                            position: relative;
                            top: 1px;
                        }
                    }
                }
                .ourlatest-content{
                    padding: 25px;
                    h3{
                        line-height: 1.4;
                        font-size: 22px;
                        font-weight: 500;   
                        a{
                            transition: .5s;
                            color: #080a3c;
                            text-decoration: none;
                        }
                    }
                    .our-latest-info{
                        margin-top: 15px;
                        align-items: center;
                        display: flex;
                        .ourlatest-personal{
                            flex: 0 0 50%;
                            position: relative;
                            max-width: 50%;
                            padding-left: 52px;
                            img{
                                width: 43px;
                                height: 43px;
                                border-radius: 50%;
                                border: 1px solid #dde4ff;
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                            span{
                                margin-bottom: 0;
                                color: #8891b5;
                                font-size: 15px;
                                font-weight: 500;
                            }
                        }
                    }
                    .ourlatest-icon{
                        flex: 0 0 50%;
                        text-align: right;
                        max-width: 50%;
                        a{
                            display: inline-block;
                            width: 43px;
                            height: 43px;
                            position: relative;
                            border-radius: 50%;
                            background-color: #ebefff;
                            color: #080a3c;
                            text-align: center;
                            font-size: 25px;
                            i{
                                position: absolute;
                                font-size: 15px;
                                left: 0;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }
                    }
                }
            }
            .ourlatest-blognotes{
                margin-top: 10px;
                text-align: center;
                p{
                    color: #4a6f8a;
                    a{
                        color: #ff612f;
                        text-decoration: none;
                    }
                }
            }
        }
        #subscribenow{            
            &::before{
                width: 100%;
                height: 50%;
                background-color: #f4f5fe;
                bottom: 0;
                left: 0;
                z-index: -1;
                content: '';
                position: absolute;
            }
            background-color: #fff;
            position: relative;
            z-index: 1;
            .subscribenow-all{
                position: relative;
                z-index: 1;
                border-radius: 30px;
                text-align: center;
                padding: 70px;
                background-color: #ff612f;
                h2{
                    color: #fff;
                    max-width: 610px;
                    margin-bottom: 0;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 40px;
                    font-weight: 500;
                }
                form{
                    max-width: 600px;
                    margin-top: 40px;
                    margin-left: auto;
                    margin-right: auto;
                    input{
                        width: 100%;
                        border: none;
                        height: 50px;
                        border-radius: 5px;
                        color: #fff;
                        background-color: #c32f00;
                        padding: 0 0 0 15px;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    button{
                        background-color: #080a3c;
                        border: none;
                        padding: 13px 25px;
                        border-radius: 5px;
                        font-weight: 500;
                        font-size: 15px;
                        color: #fff;
                        i{
                            margin-right: 5px;
                            color: #ff612f;
                            font-size: 22px;
                        }
                    }                    
                    span{}
                }
                .subscribenow-shape1{
                    position: absolute;
                    left: 5%;
                    top: 0;
                    z-index: -1;    
                    img{
                        animation: moveLeftBounce 5s linear infinite;
                    }
                }
                .subscribenow-shape2{
                    position: absolute;
                    right: 2%;
                    top: 4%;
                    z-index: -1;
                    img{}
                }
                .subscribenow-shape3{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: -1;
                    img{}
                }
                .subscribenow-shape4{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                    img{}
                }
                .subscribenow-shape5{
                    position: absolute;
                    z-index: -1;
                    right: 20%;
                    top: 32%;
                    img{}
                }
            }
        }
        #ourloving{
            padding: 100px 0;
            background-color: #f4f5fe;
            .ourloving-head{
                text-align: center;
                max-width: 575px;
                text-transform: capitalize;
                margin-left: auto;
                margin-bottom: 60px;
                margin-right: auto;
                h2{
                    font-size: 40px;
                    font-weight: 600;
                    color: #080a3c;
                }
            }
            .ourloving-images{
                display: flex;
                flex-wrap: wrap;
                .ourloving-image{
                    flex: 0 0 20%;
                    max-width: 20%;
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 10px;
                    a{
                        text-align: center;
                        display: block;
                        background-color: #fff;
                        padding: 30px 20px;
                        transition: .5s;
                        img{
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
    footer{
        #page-end{            
            background-color: #080a3c;
            position: relative;
            z-index: 1;
            padding-top: 80px;
            .page-end-title{
                margin-bottom: 30px;
                .page-end-logo{
                    margin-bottom: 15px;
                    a{
                        img{
                            max-width: 100%;
                        }
                    }
                }
                p{
                    color: #acc5db;
                    line-height: 1.8;
                    font-size: 15px;
                }
                h3{
                    color: #fff;
                    margin-bottom: 29px;
                    font-weight: 500;
                    font-size: 22px;
                }
                ul{
                    list-style-type: none;
                    padding-left: 0;
                    li{
                        margin-bottom: 10px;
                        a{
                            text-decoration: none;
                            transition: 0.5s;
                            color: #acc5db;
                            font-size: 15px;
                        }
                    }
                }
                .communication{
                    li{
                        color: #fff;
                        a{}
                    }
                }
                .social-media{
                    list-style-type: none;
                    margin-bottom: 0;
                    margin-top: 20px;
                    li{
                        display: inline-block;
                        margin-right: 5px;                        
                        a{                           
                            width: 30px;
                            height: 30px;
                            display: inline-block;
                            line-height: 33px;
                            background-color: #4e6e8a;
                            text-align: center;
                            font-size: 17px;
                            border-radius: 2px;
                            transition: .5s;
                            color: #080a3c;
                            i{}
                        }
                    }
                }
            }
            .page-end-copyright{
                border-top: 1px solid #1c2250;
                text-align: center;
                margin-top: 50px;
                padding-top: 25px;
                padding-bottom: 25px;
                p{
                    color: #acc5db;
                    a{
                        color: #ff612f;
                        text-decoration: none;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}



@keyframes shape1{
    0%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(15px);
    }

    100%{
        transform: translateX(0);
    }
}
@keyframes shape2{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes shape3{
    0%{
        left: 5%;
        top: 15%;
    }
    25%{
        left: 5.4%;
        top: 15.4%;
    }
    50%{
        left: 5%;
        top: 15%;
    }
    75%{
        left: 4.6%;
        top: 14.6%;
    }
    100%{
        left: 5%;
        top: 15%;
    }
}
@keyframes shape4{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateY(10px);
    }
    50%{
        transform: translateX(10px);
    }
    75%{
        transform: translateY(5px);
        transform: translateX(15px);
    }
    100%{
        transform: translateY(0);
        transform: translateX(0);
    }
}
.uiux-box{
    color: #4a6f8a;
    background-color: #fff;
    border: 1px solid #f2effc;
    box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
    border-radius: 30px;
    font-size: 15px;
    padding: 12px 22px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: .5s;
    &:hover{
        background-color: #13c4a1;
        color: #fff;
        padding-left: 25px;
        i{
            color: white;
        }
    }
    i{
        color: #13c4a1;
        margin-right: 10px;
    }
    span{}
}
.my-buttonback{
    @extend %button;
    background-color: #080a3c;
    border: none;
    i{
        color: #ff612f;
        margin-right: 10px;
    }
}
.owl-dots{
    position: absolute;
    bottom: 5px;
    left: 46%;
    .owl-dot{
        &:hover{
            span{
            background-color: #13c4a1 !important;
            }
        }
    }
    .active{
        span{
        background-color: #13c4a1 !important;

        }
    }
}